# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/NonoTest/dist/
/NonoTest/build/
/MessingAround/build/
/MessingAround/dist/
/Get/build/
/Get/dist/